<div class="button-back">
    <LinkTo @route="board" class="menu-item">
        <p>&#10155;</p>
    </LinkTo>
</div>
<article class="board detailed">
    <Skateboard::Image src={{@skateboard.image}} alt={{@skateboard.title}} />
    <div class="details">
        <h3>{{@skateboard.title}}</h3>
        <div class="detail">
            <span>Construction:</span> {{@skateboard.construction}}
        </div>
        <div class="detail">
            <span>Profile:</span> {{@skateboard.profile}}
        </div>
        <div class="detail">
            <span>Trucks</span> {{@skateboard.trucks}}
        </div>
        <div class="detail">
            <span>Wheels:</span> {{@skateboard.wheels}}
        </div>
        <div class="detail">
            <span>Bearings:</span> {{@skateboard.bearings}}
        </div>
        <div class="detail">
            <span>Hardware:</span> {{@skateboard.hardware}}
        </div>
    </div>
</article>

<div class="description">
    <span>Description</span>
    <ul>
        <li>Construction {{@skateboard.description.construction}}</li>
        <li>Trucks {{@skateboard.description.trucks}}</li>
        <li>Wheels {{@skateboard.description.wheels}}</li>
        <li>Bearings {{@skateboard.description.bearings}}</li>
    </ul>
</div>